<h2>Batting</h2>
<table class="table table-hover">
<thead>
    <tr>
        <th>Year</th>
        <th>Team</th>
        <th>Age</th>
        <th>AB</th>
        <th>R</th>
        <th>H</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>BB</th>
        <th>SO</th>
        <th>SB</th>
        <th>CS</th>
        <th>Avg</th>
        <th>OBP</th>
        <th>Slg</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2018</td>
        <td>TOR</td>
        <td>24</td>
        <td>500</td>
        <td>100</td>
        <td>150</td>
        <td>30</td>
        <td>3</td>
        <td>20</td>
        <td>50</td>
        <td>150</td>
        <td>5</td>
        <td>3</td>
        <td>.250</td>
        <td>.350</td>
        <td>.450</td>
    </tr>
    </tbody>
</table>
