<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>#if ($player) $player.fullName - #end BR Lite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    #if ($error)
    <div class="alert alert-warning" role="alert">$error</div>
    #end
    #if ($player)
        <div class="row">
            <div class="col-sm-2"><img src="http://content.mlb.com/images/headshots/current/60x60/${id}@2x.png"
                onerror="this.onerror=null;this.src='https://content.mlb.com/images/headshots/current/60x60/generic@2x.png';"></div>
            <div class="col">
                <h1>$player.fullName</h1>
                Position: $player.primaryPosition.abbreviation,
                Bats ${player.batArm}, Throws ${player.throwArm},
                Ht: ${player.height}/Wt: ${player.weight} lb,
                Born: ${player.birthDate}, Age: ${player.currentAge}
            </div>
        </div>

        #if($player.primaryPosition.isPitcher())
            #parse("templates/pitching.htm")
            #parse("templates/batting.htm")
        #else
            #parse("templates/batting.htm")
            #parse("templates/pitching.htm")
        #end

        #parse("templates/fielding.htm")
    #end
</div>
</body>
</html>
