<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$team - BR Lite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>$team roster</h1>
    <div class="row">
        <div class="col-sm">
            <h2>Hitters</h2>
            <ul>
                #foreach($p in $roster)
                    #if($p.position.type != "Pitcher")
                        <li><a href="/player/${p.person.id}">
                            <img src="https://content.mlb.com/images/headshots/current/60x60/${p.person.id}.png"
                                 onerror="this.onerror=null;this.src='https://content.mlb.com/images/headshots/current/60x60/generic.png';"
                                 height="30" width="30">
                            <code>$p.jerseyNumber</code> $p.person.fullName - $p.position.abbreviation
                        </a></li>
                    #end
                #end
            </ul>
        </div>
        <div class="col-sm">
            <h2>Pitchers</h2>
            <ul>
                #foreach($p in $roster)
                    #if($p.position.type == "Pitcher")
                        <li><a href="/player/${p.person.id}">
                            <img src="https://content.mlb.com/images/headshots/current/60x60/${p.person.id}.png"
                                 onerror="this.onerror=null;this.src='https://content.mlb.com/images/headshots/current/60x60/generic.png';"
                                 height="30" width="30">
                            <code>$p.jerseyNumber</code> ${p.person.fullName}
                        </a></li>
                    #end
                #end
            </ul>
        </div>
    </div>
</div>
</body>
</html>
